<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <h1>Great Going</h1>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" name="submit" value="Hash">
    </form>
    <h2 id="quickhash"></h2>
</body>

<script>
    $('#id_text').keyup(function(){
        var text = $(this).val();
        $.ajax({
            url:'quick-hash',
            data:{
                'text':text,

            },

            dataType:'json',
            success: function(data){
                $('#quickhash').text(data['hash']);
            }
        });
    });
</script>


</html>